a {
    color: #D89B18;
    margin: 0 50px;
    text-decoration: none;
}

a:hover {
    color: #2D1377;
}

body {
    margin: 0;
    color: #D89B18;
    background-color: #2B8490;
    text-align: center;
    font-family: 'Vollkorn', serif;
}

h1 {
    font-size: 32px;
    color: #EBB643;
    margin-top: 0;
    font-family: 'Press Start 2P', cursive;
    line-height: 250%;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #D89B18;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
}

hr {
    border-style: none;
    border-top-style: dotted;
    color: #ccc0ae;
    border-width: 5px;
    width: 6%;
    margin: 35px auto;
}

p {
    line-height: 1.75;
}

.a-bottom {
    color: #2B8390;
    margin: 0 50px;
    text-decoration: none;
}

.a-bottom:hover {
    color: #2D1377;
}

.bottom-p {
    color: #2B8390;
    font-family: 'Ubuntu', sans-serif;
    font-size: small;
    margin-top: 50px;
}

.button {
    background: #2B8390;
    background-image: -webkit-linear-gradient(top, #2B8390, #085E6A);
    background-image: -moz-linear-gradient(top, #2B8390, #085E6A);
    background-image: -ms-linear-gradient(top, #2B8390, #085E6A);
    background-image: -o-linear-gradient(top, #2B8390, #085E6A);
    background-image: linear-gradient(to bottom, #2B8390, #085E6A);
    color: #EBB643;
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 7px 15px 7px 15px;
    text-decoration: none;
}

.button:hover {
    text-decoration: none;
}

.button:hover {

    background: #EBB643;
    background-image: -webkit-linear-gradient(top, #EBB643, #D89B18);
    background-image: -moz-linear-gradient(top, #EBB643, #D89B18);
    background-image: -ms-linear-gradient(top, #EBB643, #D89B18);
    background-image: -o-linear-gradient(top, #EBB643, #D89B18);
    background-image: linear-gradient(to bottom, #EBB643, #D89B18);
    color: #2D1377;
    text-decoration: none;
}

.circular-1 {
    position: relative;
    top: 25px;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    padding: 15px 0;
}

.circular-2 {
    position: relative;
    top: 25px;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
}

.earth {
    position: relative;
    height: 300px;
    width: 532px;
}

.communication-color {
    color: #573BA1;
    margin: 35px auto;
}

.communication-container {
    background: linear-gradient(to bottom, #573BA1, #D89B18);
    padding: 5px 0;
}

.communication-h2 {
    color: #573BA1;
}

.contact-me {
    color: #D89B18;
    margin: 50px auto;
}

.contact-spiel {
    width: 50%;
    margin: auto;
}

.first-h2 {
    font-weight: normal;
    color: #EBB643;
}

.footer-container {
    background-color: #D89B18;
    position: relative;
    padding: 20px 0;
}

.footer-link {
    font-family: 'Ubuntu', sans-serif;
    border: auto 100px;
}

.hr-color {
    background-color: #573BA1;
    padding: 10px;
}

.middle-container {
    background-color: #573BA1;
    position: relative;
    padding: 1px 0;
}

.more-stuff {
    width: 50%;
    margin: 25px auto;
    text-align: left;
}

.other-things {
    padding-top: 15px;
}

.title-container {
    background: linear-gradient(to bottom, #2B8390, #573BA1);
    padding-top: 50px;
}

.top-container {
    background-color: #573BA1;
    padding: 1px 0;
}

.yellow-links {
    color: #EBB643;
}

/* 
Using this one:
CSS - Cascading Style Sheet
Palette color codes
Palette URL: http://paletton.com/#uid=30+0u0kssr6hXydmQtuuhlIAlgL

Feel free to copy&paste color codes to your application

.color-primary-0 { color: #D89B18 }	/* Main Primary color
.color-primary-1 { color: #FFD270 }
.color-primary-2 { color: #EBB643 }
.color-primary-3 { color: #AD7909 }
.color-primary-4 { color: #865B00 }

.color-secondary-1-0 { color: #3F1F94 }	/* Main Secondary color (1)
.color-secondary-1-1 { color: #735AB4 }
.color-secondary-1-2 { color: #573BA1 }
.color-secondary-1-3 { color: #2E1377 }
.color-secondary-1-4 { color: #1F085C }

.color-secondary-2-0 { color: #117684 }	/* Main Secondary color (2)
.color-secondary-2-1 { color: #4998A3 }
.color-secondary-2-2 { color: #2B8390 }
.color-secondary-2-3 { color: #085E6A }
.color-secondary-2-4 { color: #014852 }

Generated by Paletton.com © 2002-2014
http://paletton.com */
